.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  font-size: 4.5rem;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btn {
  background: #ba2cde;
  background-image: -webkit-linear-gradient(top, #ba2cde, #b82b76);
  background-image: -moz-linear-gradient(top, #ba2cde, #b82b76);
  background-image: -ms-linear-gradient(top, #ba2cde, #b82b76);
  background-image: -o-linear-gradient(top, #ba2cde, #b82b76);
  background-image: linear-gradient(to bottom, #ba2cde, #b82b76);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #d3e8d5;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 46%;
  margin-top: 5%;
}

.btn:hover {
  background: #fc3cb6;
  background-image: -webkit-linear-gradient(top, #fc3cb6, #d9347e);
  background-image: -moz-linear-gradient(top, #fc3cb6, #d9347e);
  background-image: -ms-linear-gradient(top, #fc3cb6, #d9347e);
  background-image: -o-linear-gradient(top, #fc3cb6, #d9347e);
  background-image: linear-gradient(to bottom, #fc3cb6, #d9347e);
  text-decoration: none;
}


@media (max-width:1028px) {
  h1{
    font-size: 5rem;
  }
  p{
    font-size:3rem;
  }
  img{
    width: 50%;
  }
  .btn{
    margin-left:38.5%;
  }
  footer{
    padding-bottom: 4%;
  }
}
